      body {
        background-color: teal;
      }
      .post {
        border-radius: 10px;
        border: 1px solid darkblue;
        margin: 3%;
        padding: 3%;
        background-color: black;
        color: white;
      }
      h3 {
        color: #1750ed;
      }
      h4 {
        color: red;
      }
      a {
        color: aqua;
      }
      .date {
        color: gray;
      }
      .img-container {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      img {
        margin: 1%;
      }
      #panini-screenshot {
        width: 800px;
      }
      .blockquote {
        background-color: green;
        padding: 1%;
        border: 1px solid darkgreen;
        color: white;
      }
      .super-blockquote {
        background-color: #ccffcc;
        padding: 1%;
        border: 1px solid lightgreen;
      }

